@import "../../../styling/variables";

.Avatar {
  object-fit: cover;
  border-radius: 50%;
}

.MiniSized {
  width: 70px;
  height: 70px;
  border: 5px solid $text-color-primary;
}

.NormalSized {
  border: 5px solid $text-color-primary;
  width: 200px;
  height: 200px;
}