@import "../../../styling/variables.scss";

.Modal {
  width: 50%;
  height: 200px;
  z-index: 200;
  background-color: white;
  position: absolute;
  border-radius: $border-radius;
  transition: all 0.3s ease-out;
  padding: 10px;
}

.Modal > p {
  background-color: $background-color-primary;
}

.Visible {
  transform: scale(1);
  opacity: 1;
}

.Hidden {
  transform: scale(0);
  opacity: 0;
}